.pagination {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
  margin: 5px 0;
}

.pagination li {
  display: block;
  flex-grow: 1;
  border: 1px solid #1d1c1c4d;
  border-right: 0;
}

.pagination li:last-child {
  border-right: 1px solid #1d1c1d4d;
}

.pagination li a,
.pagination li span {
  display: block;
  text-align: center;
  padding: 15px 0;
}

.pagination li a:hover {
  background-color: rgba(3, 169, 244, 0.55);
  border: 1px solid #03a9f4;
  font-weight: bold;
  color: rgb(12, 121, 170);
  cursor: pointer;
}

.pagination li a:focus {
  outline: none;
}

div.event {
  margin: 5px 0 0;
  width: 80%;
  padding: 0 20px;
  border: 1px solid grey;
}

.event h4,
.event p {
  margin: 2px 0;
  word-wrap: break-word;
}
